<div class="layout">
  <div class="header"></div>
  <div class="article">
    mehmehmeh <span class="icon-anchor-2x "></span> death to dah slugs

    <div class="spam">
      <p> yadayadayadayadayadayadayadayadayadayadayadayadayadayadayadayadayadayadayadayadayadayadayadayadayadayadayadayadayadayadayadayadayadayadayadayadayadayadayadayadayadayadayadayadayadayadayadayada </p>
      <div class="x-button">
      </div>
    </div>
  </div>
  <div class="story"></div>
    <div class="other"></div>
      <div class="adds"></div>
        <div class="subs"></div>
          <div class="clearfix footer"></div>

          <div class="navbar"></div>
        </div>
